@import 'styles/variables';
@import 'styles/mixins';

.wrapper {
  padding: 32px;
  margin: 0;
  overflow: hidden;
  position: relative;

  @include max-width($tabletL) {
    padding: 24px;
  }

  @include max-width($phoneXL) {
    padding: 16px;
  }
}

.top_content {
  margin-bottom: 48px;
  @include max-width($tabletL) {
    margin-bottom: 96px;
  }
}

.badge {
  @include font-style(12px, 500, $neutral_9, null, 1, RationalMedium);
  border: 1px solid $purple;
  border-radius: 1000px;
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 8px;
}

.title {
  @include font-style(36px, 400, $neutral_9, null, 1.3, RecklessNeue);
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'ss05' on, 'ss07' on, 'ss06' on, 'ss11' on, 'ss12' on, 'ss13' on, 'ss10' on, 'liga' on;
  max-width: 686px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;

  @include max-width($tabletL) {
    max-width: 100%;
    padding-right: 138px;
  }
  @include max-width($phoneXL) {
    font-size: 28px;
    line-height: 1.3;
    padding-right: 16px;
  }
}

.description {
  @include font-style(15px, 400, $neutral_9, null, 24px);
  letter-spacing: -0.01em;
  margin-bottom: 48px;
  max-width: 686px;
}

.card_list {
  @include display-flex(space-between, null);
  @include max-width($tabletL) {
    display: block;
  }
}

.card_item {
  min-height: 324px;
  padding: 20px 20px 24px 24px;
  background-color: $neutral_minus_8;
  list-style-type: none;
  border-radius: 16px;

  @include max-width($tabletL) {
    min-height: 344px;
  }
}

.card_item_title {
  @include font-style(15px, 600, $neutral_9, null, 1.6, RationalBold);
  display: inline-block;
  margin-bottom: 8px;
}

.image_wrapper {
  margin-bottom: 16px;
}

.card_item_text {
  @include font-style(15px, 400, $neutral_9, null, 1.6, Rational);
  margin: 0;

  p {
    margin: 0;
  }
}
