@import 'styles/variables';
@import 'styles/mixins';


.wrapper {
  padding: 64px;
  text-align: center;

  @include max-width($tabletL) {
    padding: 48px 24px;
  }

  @include max-width($phoneXL) {
    padding: 32px 16px;
  }
}

.badge {
  display: inline-block;
  @include font-style(12px, 500, $purple, null, 1, RationalMedium);
  padding: 4px 8px;
  background-color: $purple_minus_6;
  border-radius: 1000px;
  margin-bottom: 8px;;
}

.description {
  max-width: 744px;
  margin-inline: auto;
  margin-bottom: 48px;

  p {
    display: inline-block;
    @include font-style(17px, 500, $neutral_9, null, 1.6);
    margin-bottom: 0;
  }
}

.title {
  max-width: 744px;
  margin-inline: auto;
  margin-bottom: 24px;

  h1 {
    @include font-style(64px, 400, $neutral_9, null, 1, RecklessNeue);
    margin-bottom: 0;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'ss05' on, 'ss07' on, 'ss06' on, 'ss11' on, 'ss12' on, 'ss13' on, 'ss10' on, 'liga' on;
    letter-spacing: -0.04em;

    strong {
      @include font-style(64, 500, $neutral_9, null, 1, RationalMedium);
      font-feature-settings: 'pnum' off, 'lnum' off, 'ss03' off, 'ss05' off, 'ss07' off, 'ss06' off, 'ss11' off, 'ss12' off, 'ss13' off, 'ss10' off, 'liga' on, 'dlig' on;
      letter-spacing: -0.06em;
    }

    @include max-width($tabletL) {
      font-size: 56px;
    }

    @include max-width($phoneXL) {
      font-size: 40px;
      line-height: 48px;
    }
  }
}