@import 'styles/mixins';
@import 'styles/variables';

.wrapper {
  @include display-flex(space-between);
  padding: 64px;

  @include max-width($tabletXL) {
    flex-direction: column;
    padding: 48px 24px;
  }

  @include max-width($phoneXL) {
    padding: 32px 16px;
  }
}

.content {
  width: 50%;

  &:not(:last-child) {
    margin-right: 48px;
  }

  @include max-width($tabletXL) {
    width: 100%;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 48px;
    }

    &:last-child {
      min-height: 364px;
    }
  }
}

.without_content{
  display: none;
}

.list {
  @include display-flex(null, center);
  margin: 0 0 8px;
  padding: 0;
}

.list_item {
  list-style-type: none;
  @include font-style(15px, 500, $neutral_9, null, 1.6, RationalMedium);
  font-feature-settings: 'dlig' on;

  a {
    position: relative;
    @include font-style(15px, 600, $neutral_9, null, 1.2, RationalSemiBold);
    text-decoration: none;
    background-color: transparent !important;
    padding: 0;
    margin: 0;

    @include max-width($phoneS){
      font-size: 12px;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }

  @include  max-width($phoneXL){
    letter-spacing: -0.04em;
  }

  @include max-width($phoneS){
    @include font-style(12px, 500, $neutral_9, null, 1.3, RationalMedium);
  }
}

.ticket {
  @include font-style(12px, 500, $white, null, 1, RationalMedium);
  list-style-type: none;
  padding: 8px 12px;
  border-radius: 1000px;
  margin-right: 8px;

  @include max-width($phone){
   padding: 4px 8px;
  }
}

.ticket_green {
  background-color: $green;
  color: $neutral_9;
}

.ticket_violet {
  background-color: $purple_minus_6;
  color: $purple;
}

.title {
  margin: 0 0 24px;

  h1 {
    @include font-style(72px, 400, $neutral_9, null, 1, RecklessNeue);
    letter-spacing: -0.04em;
    margin-bottom: 0;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'ss05' on, 'ss07' on, 'ss06' on, 'ss11' on, 'ss12' on, 'ss13' on, 'ss10' on, 'liga' on;

    strong {
      font-family: RationalMedium;
      font-weight: 500;
      letter-spacing: -0.04em;
      font-feature-settings: 'dlig' on;
    }

    em, i {
      font-family: RationalMedium;
      font-weight: 500;
    }
  }

  @include max-width($laptop) {
    max-width: 640px;
  }

  @include max-width($tabletL) {
    h1 {
      font-size: 64px;
    }
  }

  @include max-width($phoneXL) {
    h1 {
      font-size: 48px;
      line-height: 1.1;
      letter-spacing: -0.02em;
    }
  }
}

.text {
  @include font-style(17px, 500, $neutral_9, null, 1.6, RationalMedium);
  margin: 0 0 64px;

  p {
    margin-bottom: 0;
  }

  @include max-width($laptop) {
    max-width: 640px;
    letter-spacing: 0;
    margin: 0 0 48px;
  }

  @include max-width($phoneXL) {
    margin: 0 0 32px;
  }
}

.button_wrapper {

  div {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}