//Screen Size

$phoneS: 320px;
$phone: 375px;
$phoneL: 413px;
$phoneXL: 500px;
$tablet: 768px;
$tabletL: 900px;
$tabletXL: 1023px;
$laptopS: 1240px;
$laptop: 1439px;
$desktop: 1920px;


//Colors
$white: #FFFFFF;
$ultraDarkPurple: #2D1040;
$grey: #686f75;
$neutral_9: #17121F;
$neutral_2: #463A58;
$neutral_1: #696078;
$neutral: #8D8698;
$neutral_minus_1: #968FA0;
$neutral_minus_2: #A5A0AE;
$neutral_minus_3: #B4AFBB;
$neutral_minus_4: #D1CFD6;
$neutral_minus_5: #E9E7EB;
$neutral_minus_6: #EDECF0;
$neutral_minus_7: #F3F3F4;
$neutral_minus_8: #F9F9FA;
$purple_2: #5F1CA2;
$purple_1: #7419CC;
$purple: #911FFF;
$purple_minus_1: #9F3CFF;
$purple_minus_2: #B262FF;
$purple_minus_3: #C88FFF;
$purple_minus_4: #D3A5FF;
$purple_minus_5: #E4C7FF;
$purple_minus_6: #F4E9FF;
$purple_minus_7: #FAF4FF;
$purple_minus_8: #FDFBFF;
$blue_9: #052033;
$blue_2: #0053AE;
$blue_1: #007AFF;
$blue: #00E0FF;
$blue_minus_1: #47C8FF;
$blue_minus_2: #67D1FF;
$blue_minus_3: #8CDDFF;
$blue_minus_4: #B3E8FF;
$blue_minus_5: #D1F1FF;
$blue_minus_6: #E8F8FF;
$blue_minus_7: #F4FCFF;
$blue_minus_8: #FAFEFF;
$green_9: #012A1E;
$green_2: #027F59;
$green_1: #00C187;
$green: #00FF85;
$green_minus_1: #68E5B0;
$green_minus_2: #80E9BD;
$green_minus_3: #9AEDCA;
$green_minus_4: #B3F1D7;
$green_minus_5: #CDF6E5;
$green_minus_6: #E6FBF2;
$green_minus_7: #F2FDF8;
$green_minus_8: #FAFEFC;
$yellow_9: #2A2100;
$yellow_2: #BC9300;
$yellow_1: #EBB700;
$yellow: #FAFF00;
$yellow_minus_1: #68E5B0;
$yellow_minus_2: #FFE457;
$yellow_minus_3: #FFEB80;
$yellow_minus_4: #FFF2AB;
$yellow_minus_5: #FFF7CC;
$yellow_minus_6: #FFFBE5;
$yellow_minus_7: #FFFDF2;
$yellow_minus_8: #FFFEFA;
$orange_9: #331600;
$orange_2: #CC5600;
$orange_1: #E56100;
$orange: #FF7A00;
$orange_minus_1: #FF8933;
$orange_minus_2: #FF9E57;
$orange_minus_3: #FFB580;
$orange_minus_4: #FFCEAB;
$orange_minus_5: #FFE1CC;
$orange_minus_6: #FFF0E5;
$orange_minus_7: #FFF8F2;
$orange_minus_8: #FFFCFA;
$red_9: #340006;
$red_2: #CD0018;
$red_1: #E80823;
$red: #FF4567;
$red_minus_1: #FF4B61;
$red_minus_2: #FF6A7C;
$red_minus_3: #FFA0AB;
$red_minus_4: #FFD5DA;
$red_minus_5: #FFF0F2;
$red_minus_6: #FFF7F8;
$red_minus_7: #FFFBFB;
$red_minus_8: #FFFCFD;