@import 'styles/variables';
@import 'styles/mixins';

.article_wrapper {
  padding: 64px 175px 124px 64px;

  @include max-width($tabletL){
    padding: 64px 32px;
  }

  @include max-width($tabletL) {
    padding: 32px 16px;
  }
}

.content_wrapper{
  @include display-flex();

  @include max-width($tabletL){
    @include display-flex (null, null, null, column);
  }
}

.dividing_line{
  display: block;
  width: 100%;
  height: 1px;
  background-color: $ultraDarkPurple;
  margin-bottom: 32px;
}

.menu_wrapper{
  position: relative;
  width: 37%;
  display: flex;
  flex-direction: column;
}

